!!! 5
%html{lang: 'pt-br'}
  %head
    %meta{ charset: "utf-8"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : "Myfreecomm"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/shared/messages'
    = render 'layouts/shared/header'
    .row
      .large-12.columns{:role => "content"}
        = yield

    = render 'layouts/shared/footer'